{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/hugoprepas.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
<div class="banner d-flex justify-content-between">
	<h1>Hugoprépas 4</h1>
	<div class="connexion">
		<p>Nicky Sonigo</p>
		<a href="#">Se déconnecter</a>
	</div>
</div>
{# {% if app.user %}
<div class='connexion'>
	<p>{{ app.user.fullname }}</p>
	<p>
		<a href='{{ path(' logout') }}'>Déconnexion</a>
	</p>
</div>
{% endif %} #}
{% endblock %}

{% block navigation %}
{% include "home/_navbar.html.twig" %}
{{ sidebarHome.render(selected_category_id ?? null) | raw }}
{{ sidebarGrades.render | raw }}
{% endblock %}

{% block footer %}
<p class='mentions'>
	Lycée Victor Hugo | 1 rue Rembrandt 25000 Besançon | Tél : 03 81 41 98 88<br>
	<a href='http://lyceehugobesancon.org/LVH/mentions-legales/'><u>Mentions légales</u></a>
</p>
{% endblock %}